
<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Post</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
 <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Create a New Post</h1>
      <form action="/posts" method="POST" class="box">
        <div class="field">
          <label class="label" for="title">Title:</label>
          <div class="control">
            <input class="input" type="text" id="title" name="title" required />
          </div>
        </div>
        <div class="field">
          <label class="label" for="content">Content:</label>
          <div class="control">
            <textarea class="textarea" id="content" name="content" required></textarea>
          </div>
        </div>
        <div class="control">
          <button class="button is-primary" type="submit">Publish</button>
        </div>
      </form>
    </div>
  </section>
</body>

</html>
